#menu {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 774px;
	height: 210px;
	background: url(menu-bg.jpg) no-repeat;
	position: relative;
}
#menu span {
	display: none;
	position: absolute;
}
#menu a {
	display: block;
	text-indent: -900%;
	position: absolute;
	outline: none;
}
#menu a:hover {
	background-position: left bottom;
}
#menu a:hover span{
	display: block;
}
#menu .home {
	width: 234px;
	height: 50px;
	background: url(11.jpg) no-repeat;
	left: 36px;
	top: 73px;
}

#menu .about {
	width: 240px;
	height: 50px;
	background: url(22.jpg) no-repeat;
	left: 270px;
	top: 80px;
}

#menu .rss {
	width: 250px;
	height: 50px;
	background: url(33.jpg) no-repeat;
	left: 520px;
	top: 94px;
}

