<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>回答问题</title>
</head>

<body>
	<p>&nbsp;</p>
<p><center>
	<font size = 9; color = red>
		<strong>我要回答</strong>
	</font>
    </center>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <center>
    <form method="post" action="/answer/">
    <input type="text" name="key" placeholder="输入关键字">
    <input type="submit" value="我要回答">
    </form>
    </center>
    <p>&nbsp;</p>
    <table border="0" align="center">
    <tbody>
    {% for ques in ques_lst %}
    <tr>
    <td>
    <center><a href="/editanswer/?id={{ques}}"> {{ques}} </a></center></td>
    </tr>
    {% endfor %}
   </tbody> 
  </table>
  <p>&nbsp;</p>
  <center>
  <p><a href="/question/">返回主页</a></p>
  </center>
</body>
</html>
