<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>editanswer</title>
</head>

<body>
<center><font size = 4; color = black>
	<h1>{{question}}</h1></center>
<p>&nbsp;</p>
<p align="center">
<strong>答案</strong> 
</p>

<center>
<form method="get" action="/editanswer/">
{% for answer in answer_lst %}
            <p align="center">
	{{answer.answer}} 
<button> <a href ="../changeanswer/?origin={{answer.answer}}&ques={{question}}" target="_blank"> 修改 </a></button>
            </p>
{% endfor %}
<center>
		<button>
		<a href ="../addanswer/?ques={{question}}" target="_blank"> 增加 
        	</button></center>
</form>
</center>
<p>&nbsp;</p>
<center>
	<a href = "../question/"> 返回首页 </a>
</center>
</body>
</html>
