<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link href="../Media/style1.css" rel="stylesheet" type="text/css" />

</head>
<style type="text/css">
body{ 
 background-image: url("../Media/body4.jpg");
}

</style>
<center><font size = 6; color = red>
            <strong>您已进入管理员页面！ </font>
</center>
<center><p><font size = 2>尊敬的管理员，您所具有的权力如下：</font></P></center>
<p>&nbsp;</p>
<center>
<ul id="menu">
  <li><a href="/mquestionlist/" class="home">Home<span></span></a></li>
  <li><a href="/userlist/" class="about">About<span></span></a></li>
  <li><a href="/manageout/" class="rss">RSS<span></span></a></li>
</ul>
</center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<center>
<p><font size = 1>Copyright &copy; 哈尔滨工业大学计算机学院2013级6班14组 赵斌 王立伟 赵茁竹 于小淞</font></p>
</center>
</body>
</html>
