<html>
<head>
<title>register</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
	body {	background-image: url("../Media/Background.jpg");background-repeat: no-repeat;
		background-position: center;background-attachment: fixed;}
</style>
</head>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><center>
	<font size = 9; color = red>
		<strong>欢迎注册</strong>
	</font>
</center></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
    <form method="post" action="/register/">
    <center>
  <table>
	<tr>
  
		<td><table border = 0 align = "center">
		<p align="center"><strong>用户名:  </strong> </p><p align="center"><strong>密码:  </strong> </p><p align="center"><strong>重输密码:  </strong> </p></center>
		</table></td>

		<td><table border = 0 align = "center">
		<center><p><input type="text" name="username" placeholder="用户名" class="login-field"></p></center><center><p><input type="text" name="password" placeholder="密码" class="login-field"></p></center><center><p><input type="text" name="password" placeholder="密码" class="login-field"></p> </center>
		</table></td>
        
	</tr>
	</table>
    </center>
    <p>&nbsp;</p>
    <center><input type="submit" value="注册"/></center>
        
    </form>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
    <center>
	<a href = "../login/"> 返回登录界面 </a>
    </center>
</body>
</html>