<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>添加答案</title>
</head>

<body>
	<p>&nbsp;</p>
<p><center>
	<font size = 6; color = red>
		<strong>添加答案</strong>
	</font>
    </center>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
<center><font size = 4; color = black>
	<h1>{{question}}</h1></center>
    <center>
<p>&nbsp;</p>
    <form method="post" action="/addanswer/">
    <input type="text" name="answer">
    <input type="submit" value="添加">
    </form>
    </center>
    <p>&nbsp;</p>
  <p>&nbsp;</p>
  <center>
  <p><a href="/question/">返回主页</a></p>
  </center>
</body>
</html>
