<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>editanswer</title>
</head>

<body>
<center><font size = 2; color = black>
	<h1>{{t.question}}</h1></center>
<p>&nbsp;</p>
<p align="center"><strong>答案 </strong> <input type="text" name="answer" value={{t.answer}}> </p>
<form method="post" action="/editanswer/">
            <p align="center">
              	<center><button> 
                	<a href ="../editanswer/"> 提交 </a></button>
			<button>
			<a href ="../editanswer/"> 增加 
        	</button></center>
            </p>
<p>&nbsp;</p>
<center>
	<a href = "../question/"> 返回首页 </a>
</center>
</body>
</html>
