<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>评分</title>
</head>

<body>
<center><font size = 6; color = blue>
            <strong>评分: </font>
        </center>
<p>&nbsp;</p>
<p>&nbsp;</p>
<center>
  <table>
	<tr>
  
		<td><table border = 0 align = "center">
		<tr><td><center>anwser:</center></td></tr>
		</table></td>

		<td><table>
		<tr><td><center>{{answer.answer}}</center></td></tr>
		</table></td>
        
        <form method="post" action="/givescore/"> 
           <input type="label" name="score" value="{{answer.score}}" class="login-field" />
           <input type="submit" value="评分" />
         </form>
	</tr>
	</table>
	</center>

</body>
</html>
