<html>
<head>
<title>logout</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">
	body {	background-image: url(../images/?id=Background.jpg);background-repeat: no-repeat;
		background-position: center;background-attachment: fixed;}
</style>
</head>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
<center><strong>
	<font size = 9; color = red>QA</font></strong>
</center></p>
    <center><h1>Good bye </h1></center>
    <center>
	<a href="/register/">注册</a>
    </center>
<p>&nbsp;</p>
    {% if username %}
    	<center>
		<a href="/login/">登录</a>
    	</center>
    {% endif %}
</body>
</html>