<html>
<head>
    <title>question</title>
</head>
<body>
<p>&nbsp;</p>
<p><center>
	<font size = 7; color = red>
		<strong>欢迎{{username}}进入QA</strong>
	</font>
    </center>
    <p>&nbsp;</p>
<center>
        <input type="text" name="ques">
        <input type="submit" value="我要提问">
        <p>&nbsp;</p>
	<p><a href="/answer/">我要回答</a></p>
	<p><a href="/questionlist/">查看我的问题</a></p>
    <p><a href="/answerlist/">查看我的回答</a></p>
    <p align="center"><strong>管理员密码:  </strong> </p>
    <form method="post" action="/managein/"> 
           <input type="text" name="pass" placeholder="管理员口令" class="login-field">
           <input type="submit" value="进入管理页面">
         </form>
    
    <p>&nbsp;</p>
	<p><a href="/logout/">退出</a></p>	
    
</center>
</body>
</html>