<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>showuser</title>
</head>
<body>
<p>&nbsp;</p>
<center> 
<h1> <strong>以下为该系统所有用户</strong> </h1> 
  </center> 
<table border="2" align="center"> 
   <tbody> 
    <tr> 
     <th> 
      <center>
        用户名 
      </center></th> 
     <th> 
      <center>
        操作 
      </center></th> 
    </tr> {% for User in user_lst %} 
    <tr> 
    <td> {{User.username}} </td>
    <td>
      <center> 
        <a href="/deluser/?id={{User.username}}" target="_blank">删除</a> 
      </center> </td> 
    </tr>
    {% endfor %}
   </tbody> 
  </table> 
  <p>&nbsp;</p> 
  <p>&nbsp;</p> 
   <center> 
    <a href="/managepage/"> 回到首页 </a>
   </center> 
   <p>&nbsp;</p>  
  </form>
 </body>
</html>
